html
	head
		title= 'Theater List'
		style
			include style.css
	body
		h1= 'Theater List'
	table
		for theater in list
			tr
				td= theater.id
				td= theater.status
				td= theater.movie
				td= theater.time